.App {
  padding: 1.5rem;
  display: flex;
  background-color: white;
  border-radius: 5px;
}

.weight-500 {
  margin-top: 0.5rem;
  font-weight: 500;
}

button {
  user-select: none;
}

.flex {
  display: flex;
}

.mr-1rem {
  margin-right: 1rem;
}

.mb-1rem {
  margin-bottom: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.heading {
  display: flex;
  padding-inline: 1rem;
  align-items: center;
  background-color: white;
  padding-block: 0.5rem;
  width: fit-content;
  border: 2px solid black;
}

.title-heading {
  font-size: 1.35rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.heading:hover {
  color: white;
  background-color: black;
}

.btn-show-modal {
  background: none;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.modal-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(139, 139, 139, 0.5);
  animation-name: modal-fade;
  animation-duration: 150ms;
}

@keyframes modal-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
  width: fit-content;
  max-width: 550px;
  animation-name: modal-popup;
  animation-duration: 150ms;
}

@keyframes modal-popup {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.modal-desc {
  user-select: none;
}

.modal-input-text {
  margin-top: 0.8rem;
  border: none;
  border-bottom: 2px solid black;
  padding-inline: 6px;
  line-height: 1.7;
  font-size: 1rem;
}

.modal-input-text:focus {
  outline: none;
}

.modal div {
  margin-left: auto;
  width: fit-content;
  display: flex;
  gap: 4px;
  margin-top: 1rem;
}

.modal .modal-desc {
  display: block;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.btn-add-note,
.btn-hide-modal {
  font-size: 1rem;
  padding: 0.15rem 0.6rem;
  border-radius: 3px;
  border: none;
  text-transform: capitalize;
}

.btn-add-note {
  background-color: black;
  color: white;
}

.btn-hide-modal {
  background: none;
}

li {
  list-style: none;
}

.tab-title-list {
  max-height: 72%;
  overflow-y: auto;
  padding-right: 1rem;
}

.note-tab-title {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding: 0.7rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  border-radius: 3px;
  margin-block: 0.3rem;
  width: 200px;
  text-align: left;
  word-break: break-word;
}

.note-tab-title:hover {
  background-color: rgb(238, 238, 238);
}

.input-edit-title {
  border: none;
  background: none;
  color: white;
  font-size: 1rem;
  padding-inline: 0.3rem;
  border-bottom: 2px solid white;
  width: 100%;
}

.input-edit-title:focus {
  outline: none;
}

.edit-tab-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 4px;
  flex-wrap: wrap;
}

.edit-tab-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.edit-tab-btn img {
  width: 20px;
}

.right-arrow {
  width: 30px;
}

.toolbars {
  display: flex;
  padding: 0.6rem;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 15px;
  align-items: center;
}

.view-list {
  display: flex;
  gap: 4px;
}

.doc-container {
  padding: 0.6rem 0 0 0.6rem;
}

.bg-shadow {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(139, 139, 139, 0.5);
}

.btn-view-note {
  padding-inline: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  background: none;
  border: none;
  border-radius: 3px;
}

.btn-view-note:hover {
  background-color: rgb(238, 238, 238);
}

.btn-selected {
  user-select: none;
  background-color: black;
  color: white;
  font-weight: 500;
}

.btn-selected:hover {
  background-color: black;
}

.editor-list {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}

.font-editor {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  border-radius: 3px;
  padding: 3px;
}

.font-editor:hover {
  background-color: rgb(238, 238, 238);
}

.editor-img {
  width: 20px;
  height: 20px;
}

.note-view {
  margin-top: 1rem;
}

.write-note,
.preview-note {
  display: block;
  border: 1px solid black;
  font-size: 1.2rem;
  resize: none;
  width: 100%;
  height: 75vh;
  word-break: break-word;
  background: white;
  padding: 1rem;
}

@media (min-width: 840px) {
  .write-note,
  .preview-note {
    width: 583px;
  }
}

.preview-note {
  user-select: none;
  overflow-y: auto;
}

.preview-note h1 {
  display: inline;
}

q {
  font-style: italic;
}

code {
  font-family: consolas;
}

.code-container {
  padding: 0.5rem;
  width: fit-content;
  background-color: rgb(231, 231, 231);
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: black;
}

.write-note:focus {
  outline: none;
}
