.App {
  padding: 1.5rem;
  display: flex;
  background-color: white;
  border-radius: 5px;
}

aside {
  margin-right: 1rem;
}

button {
  user-select: none;
}

.heading {
  display: flex;
  cursor: pointer;
  padding-inline: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  background-color: white;
  padding-block: 0.5rem;
  width: fit-content;
  border: 2px solid black;
}

.title-heading {
  font-size: 1.35rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.heading:hover {
  color: white;
  background-color: black;
}

.btn-show-modal {
  background: none;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.modal-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(139, 139, 139, 0.5);
}

.modal {
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
  max-width: 80%;
}

.modal-input-text {
  margin-block: 0.8rem;
  border: none;
  border-bottom: 2px solid black;
  padding-inline: 6px;
  line-height: 1.7;
  font-size: 1rem;
}

.modal-input-text:focus {
  outline: none;
}

.modal div {
  margin-left: auto;
  width: fit-content;
  display: flex;
  gap: 4px;
  margin-top: 1rem;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.btn-add-note,
.btn-hide-modal {
  font-size: 1rem;
  padding: 0.15rem 0.6rem;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  text-transform: capitalize;
}

.btn-add-note {
  background-color: black;
  color: white;
}

.btn-hide-modal {
  background: none;
}

li {
  list-style: none;
}

.note-tab-title {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  border-radius: 3px;
  margin-block: 0.3rem;
  cursor: pointer;
  max-width: 200px;
  width: 100%;
  text-align: left;
}

.note-tab-title:hover {
  background-color: rgb(238, 238, 238);
}

.right-arrow {
  width: 30px;
}

.toolbars {
  display: flex;
  padding: 0.6rem;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 15px;
  align-items: center;
}

.view-list {
  display: flex;
  gap: 4px;
}

.btn-view-note {
  padding-inline: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 3px;
}

.btn-view-note:hover {
  background-color: rgb(238, 238, 238);
}

.btn-selected {
  background-color: black;
  color: white;
  font-weight: 500;
}

.btn-selected:hover {
  background-color: black;
}

.editor-list {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}

.font-editor {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 3px;
  padding: 3px;
}

.font-editor:hover {
  background-color: rgb(238, 238, 238);
}

.editor-img {
  width: 20px;
  height: 20px;
}

.note-view {
  margin-top: 1rem;
}

.write-note,
.preview-note {
  display: block;
  border: 1px solid black;
  padding: 1rem;
  font-size: 1.2rem;
  resize: none;
  width: 100%;
  max-width: 582.57px;
  height: 75vh;
}

.preview-note {
  user-select: none;
}

.preview-note h1 {
  display: inline;
}

.write-note:focus {
  outline: none;
}
